$color-accent: #19242f;
$color-secondary: #dbc08d;
$color-tertiary: #252f39;

$color-white: #ffffff;
$color-black: #000000;
$color-gold: #bfa470;
$color-grey: #f8f8f8;
$color-bluet: #263669;
$color-blue-dark: #1e2833;
$color-blue-light: #252f3a;

$font-main: 'Montserrat', sans-serif;

$transition-duration-fast: .15s;
$transition-duration-default: .2s;
$transition-duration-slow: .3s;

$letter-spacing-default: 2%;
$letter-spacing-navbar: 7%;

$line-height-default: 133.4%;
$line-height-large: 151.4%;