$color-accent: #19242f;
$color-secondary: #bfa470;
$color-tertiary: #252f39;

$color-white: #ffffff;
$color-black: #000000;
$color-gold: #dbc08d;
$color-light-grey: #f8f8f8;
$color-blue-dark: #1e2833;
$color-blue-light: #252f3a;

$color-yellow: #f5dc41;
$color-dark-green: #007c7a;
$color-bluet: #263669;
$color-dark-cyan: #4a7ab8;
$color-red-purple-burgundy: #b2092c;
$color-gentle: #b5a0c9;
$color-orange: #fc8b23;
$color-grey: #c8c8c8;
$color-dark-grey: #848381;


$font-main: 'Montserrat', sans-serif;

$transition-duration-fast: .15s;
$transition-duration-default: .2s;
$transition-duration-slow: .3s;

$letter-spacing-default: 2%;
$letter-spacing-navbar: 7%;

$line-height-default: 133.4%;
$line-height-medium: 151.4%;
$line-height-large: 164.9%;

$padding-inline: calc(120px + (180 - 120) * ((100vw - 1440px) / (1920 - 1440)));
$padding-inline-laptop: calc(39px + (120 - 39) * ((100vw - 960px) / (1440 - 960)));
$padding-inline-tablet: calc(30px + (39 - 30) * ((100vw - 480px) / (960 - 480)));
$padding-inline-mobile: 30px;