@font-face {
  font-family: 'Montserrat';
  src: url("../../shared/fonts/Montserrat-Black.ttf") format('opentype');
  font-weight: 900;
}
@font-face {
  font-family: 'Montserrat';
  src: url("../../shared/fonts/Montserrat-ExtraBold.ttf") format('opentype');
  font-weight: 800;
}
@font-face {
  font-family: 'Montserrat';
  src: url("../../shared/fonts/Montserrat-Bold.ttf") format('opentype');
  font-weight: 700;
}
@font-face {
  font-family: 'Montserrat';
  src: url("../../shared/fonts/Montserrat-SemiBold.ttf") format('opentype');
  font-weight: 600;
}
@font-face {
  font-family: 'Montserrat';
  src: url("../../shared/fonts/Montserrat-Medium.ttf") format('opentype');
  font-weight: 500;
}
@font-face {
  font-family: 'Montserrat';
  src: url("../../shared/fonts/Montserrat-Regular.ttf") format('opentype');
  font-weight: 400;
}
@font-face {
  font-family: 'Montserrat';
  src: url("../../shared/fonts/Montserrat-Light.ttf") format('opentype');
  font-weight: 300;
}
@font-face {
  font-family: 'Montserrat';
  src: url("../../shared/fonts/Montserrat-ExtraLight.ttf") format('opentype');
  font-weight: 200;
}
@font-face {
  font-family: 'Montserrat';
  src: url("../../shared/fonts/Montserrat-Thin.ttf") format('opentype');
  font-weight: 100;
}