@use './variables';
@use './reset';
@use './mixins';
@use './fonts';
@use './functions';

* {
  color: variables.$color-white;
  font-size: functions.to-rem(16);
  letter-spacing: variables.$letter-spacing-default;
}

h2 {
  font-size: functions.to-rem(36);
  font-weight: 600;
  color: variables.$color-white;

  @include mixins.laptop {
    font-size: functions.to-rem(32);
  }
}

h3 {
  font-size: functions.to-rem(30);
  font-weight: 600;
  color: variables.$color-black;

  @include mixins.laptop {
    font-size: functions.to-rem(26);
  }
}

h5 {
  font-size: functions.to-rem(24);
  color: variables.$color-white;

  @include mixins.laptop {
    font-size: functions.to-rem(18);
  }
}

h6 {
  font-size: functions.to-rem(18);
  color: variables.$color-black;
  font-weight: 700;

  @include mixins.laptop {
    font-size: functions.to-rem(16);
  }
}

main{
  max-width: 1400px;
  margin-inline: auto;
}

header,main,footer {
  opacity: 1;
}

span {
  font-size: functions.to-rem(12);
  color: rgb($color: #ffffff, $alpha: 0.5);
}
