@use 'reset';
@use 'fonts';
@use 'vars';
@use 'mixins';

body {
  font-size: 16px;
}

main {
  padding-inline: 120px;
}


header,main,footer {
  opacity: 1;
}

a {
//   color: vars.$color-black; --color links
}
