$color-accent: #19242f;
$color-secondary: #bfa470;
$color-tertiary: #252f39;

$color-light: #ffffff;

$transition-duration-fast: .15s;
$transition-duration-default: .2s;
$transition-duration-slow: .3s;


/* we need fix this */
$color-green: #DBC08D;
$color-white: #ffffff;
$color-black: #000000;
$color-purple: #1E2833;
$color-grey: #F8F8F8;
$color-blue-dark: #19242F;
$color-blue-light: #252F3A;