@use '@styles/variables' as v;
@use '@styles/mixins' as m;

.advantagesSection {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background-color: v.$color-grey;
    column-gap: 50px;
    row-gap: 40px;
    background-image: url(../../../shared/assets/images/background-images/purple-wave.svg);
    background-repeat: no-repeat;
    background-position: right;

    @include m.laptop {
        column-gap: 40px;
        row-gap: 30px;
    }

    @include m.tablet {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        column-gap: 19px;
        row-gap: 20px;
        background-position: bottom;
        padding-bottom: 296px;
    }

    @include m.mobile {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        row-gap: 20px;
    }
}