@use '@styles/variables' as v;
@use '@styles/mixins' as m;
@use '@styles/functions' as f;


.btnReview {
    background-color: v.$color-light-grey;
    border-radius: 16px;
    padding: 18px;
    transition: background-color v.$transition-duration-default ease;

    &:hover {
        background-color: v.$color-gold;
    }

    &:active {
        background-color: rgba(v.$color-gold, $alpha: 0.8);
    }
}


.reviewSlide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: v.$color-light-grey;
    border-radius: 16px;
    padding: 30px;
    min-height: 400px;

    & > p {
        color: v.$color-accent;
        font-size: f.to-rem(12);
        font-weight: 400;
        line-height: v.$line-height-large;
        flex-grow: 1;
    }
}