@import '../../../App/styles/vars.scss';


.heroWrapper {
  padding-inline: 120px;
  position: relative;
  > img {
    position: absolute;
    right: 120px;
    top: -66px;
    z-index: 2;
  }
}

.slider {
  height: 460px;
  border-radius: 16px;
}

.slide {
  display: flex !important;
  overflow: visible;
  justify-content: space-between;
  padding: 70px 100px 0 100px;
  position: relative;
}

.sliderPagination {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 150px;
}

:global(.swiper-pagination-bullet) {
  width: 30px !important;
  height: 3px !important;
  border-radius: 1px !important;
  background: rgba(255, 255, 255, .16);
  margin: 0 !important;
  opacity: 1;
}

:global(.swiper-pagination-bullet-active) {
  width: 30px !important;
  height: 3px !important;
  border-radius: 1px !important;
  background: $color-green !important;
  transition: 0.2s width linear;
}

.paginationWrapper {
  z-index: 3;
  position: absolute;
  top: 400px;
  left: 225px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  width: 100%;
  max-width: 260px;
}

.counter {
  color: #fff;
  font-size: 18px;
  letter-spacing: 2px;
  display: inline;

  & > span {
    color: rgba(255, 255, 255, .25);
  }
}

.btnHero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  border-radius: 30px;
  max-width: 260px;

  > img {
    margin-left: 70px;
  }

  &:hover {
    > img {
      animation: arrowAnimation 0.4s infinite alternate ease;
    }
  }
}

@keyframes arrowAnimation {
  from {
    transform: translateX(0);
  }
  to {
    transition: all linear 0.2s;
    transform: translateX(10px);
  }

}

.content {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
