@use '@styles/variables' as v;
@use '@styles/functions' as f;
@use '@styles/mixins' as m;

.CardsSliderContainter {
    background-color: v.$color-light-grey;
    padding-top: 30px;
    padding-bottom: 30px;
    
    @include m.container-padding;

}

.btnNav {
    background-color: white;
}