@use '@styles/variables' as v;
@use '@styles/mixins' as m;
@use '@styles/functions' as f;

.headerTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
    padding-top: f.fluid(18px, 26px, 1440px, 1920px);
    padding-bottom: f.fluid(18px, 26px, 1440px, 1920px);

    @include m.container-padding;

    @include m.laptop {
        font-size: f.to-rem(12);
        
        padding-top: f.fluid(28px, 18px, 960px, 1440px);
        padding-bottom: f.fluid(28px, 18px, 960px, 1440px);
    }

    @include m.tablet {
        padding-top: f.fluid(37px, 28px, 480px, 960px);
        padding-bottom: f.fluid(37px, 28px, 480px, 960px);
    }

    @include m.mobile {
        padding-top: 37px;
        padding-bottom: 37px;
    }
}


.leftWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.headerLogo {
    width: f.fluid(120px, 140px, 1440px, 1920px);
    margin-right: f.fluid(20px, 30px, 1440px, 1920px);
    
    @include m.laptop {
        width: 120px;
        margin-right: 20px;
    }

    @include m.tablet {
        width: f.fluid(86px, 120px, 480px, 960px);
        margin-right: f.fluid(15px, 20px, 480px, 960px);
    }

    @include m.mobile {
        margin-right: 15px;
    }
}

.emblemGroup {
    display: flex;
    flex-direction: row;
    gap: 0.5208vw;

    img {
        width: f.fluid(48px, 55px, 1440px, 1920px);

        @include m.laptop {
            width: 48px
        }

        @include m.tablet {
            width: f.fluid(34px, 48px, 480px, 960px)
        }

        @include m.mobile {
            width: 34px;
        }
    }

    @include m.mobile {
        gap: 7px;
    }
}

.tagline {
    font-size: 0.8333vw;
    font-weight: 300;
    margin-left: 3.1250vw;

    @include m.laptop {
        font-size: f.to-rem(12);
    }

    @include m.tablet {
        display: none;
    }

    @include m.mobile {
        display: none;
    }
}

.userGroup {
    display: flex;
    flex-direction: row;
    gap: f.fluid(33px, 40px, 1440px, 1920px);

    @include m.laptop {
        gap: f.fluid(20px, 33px, 960px, 1440px);
    }
}

.cart {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.05);
    border-radius: 50%;
    min-width: f.fluid(30px, 40px, 960px, 1920px);
    height: f.fluid(30px, 40px, 960px, 1920px);
    position: relative;


    
    @include m.tablet {
        display: none;
    }

    @include m.mobile {
        display: none;
    }

    &Badge {
        display: flex;
        justify-content: center;
        font-size: f.to-rem(10);
        min-width: 16px;
        min-height: 16px;
        border-radius: 50%; 
        background-color: v.$color-gold;
        color: v.$color-white;
        text-align: center;
        align-items: center;
        position: absolute;
        right: -5px;
        top: -5px;
    }
}

.actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: f.fluid(38px, 45px, 1440px, 1920px);

    @include m.laptop {
        gap: f.fluid(22px, 38px, 960px, 1440px);
    }

    @include m.tablet {
        display: none;
    }
}

.actionLink {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: f.to-rem(12);
    font-weight: 500;

    img {
        width: 16px;
    }
}

.contactInfo {
    display: flex;
    flex-direction: column;
}

.phone {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: f.fluid(20px, 22px, 1440px, 1920px);
    white-space: nowrap;
    font-weight: 600;
    gap: 5px;

    > img {
        width: f.fluid(16px, 24px, 960px, 1920px);
    }

    @include m.laptop {
        font-size: f.fluid(14px, 20px, 960px, 1440px);
    }
}

.callbackBtn {
    text-decoration: underline 0.5px;
    font-weight: 300;
    text-align: right;
    transition-duration: v.$transition-duration-default;
    font-size: f.fluid(10px, 16px, 960px, 1920px);

    &:hover {
        color: v.$color-gold;
    }
}

.themeSwitch {
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    font-size: f.to-rem(14);
    color: rgb(255, 255, 255, 0.25);

    span {
        font-size: f.to-rem(14);
        font-weight: 500;

        @include m.laptop {
            font-size: f.to-rem(12);
        }
    }
}

.activeTheme {
    color: v.$color-white;
}

.burgerBtn {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    width: 32px;
    height: 18px;
    padding: 0;

    @include m.tablet {
        display: flex;
    }

    span {
        display: block;
        height: 2px;
        background-color: v.$color-white;
        border-radius: 2px;
        transition: width v.$transition-duration-default ease;

        &:nth-child(1) {
            width: 100%;
        }

        &:nth-child(2) {
            width: 100%;
        }

        &:nth-child(3) {
            width: 60%;
        }
    }
}
