@use '@styles/variables' as v;
@use '@styles/mixins' as m;
@use '@styles/functions' as f;

.catalogBar {
    width: 100%;
    background: v.$color-accent;

    @include m.tablet {
        display: none;
    }
}

.container {
    display: flex;
    align-items: center;

    @include m.container-padding;
}

.promoBtn {
    background: v.$color-secondary;
    color: v.$color-accent !important;
    font-size: f.fluid(12px, 14px, 960px, 1920px);
    font-weight: 700;
    padding-top: f.fluid(8px, 13px, 960px, 1920px);
    padding-bottom: f.fluid(12px, 18px, 960px, 1920px);
    padding-right: f.fluid(48px, 54px, 960px, 1920px);
    padding-left: f.fluid(20px, 26px, 960px, 1920px);
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(0 0, 100% 0, 75% 100%, 0 100%);
}

.textureList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    margin-left: f.fluid(10px, 40px, 960px, 1920px);
}

.textureItem {
    display: flex;
    align-items: center;
    gap: f.fluid(4px, 8px, 960px, 1920px);
    white-space: nowrap;

    img {
        width: f.fluid(16px, 24px, 960px, 1920px);
        border-radius: 50%;
    }

    span {
        font-size: f.fluid(10px, 14px, 960px, 1920px);
        color: v.$color-white;
        transition: color v.$transition-duration-default ease;
    }

    &:hover {
        span {
            color: v.$color-secondary;
        }
    }
}