@use '@styles/variables' as v;
@use '@styles/mixins' as m;
@use '@styles/functions' as f;


.placesContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    justify-content: center;
    
    @include m.container-padding;
}

.cardHeight {
    height: 400px;
}