@use '@styles/variables' as v;
@use '@styles/mixins' as m;
@use '@styles/functions' as f;


.placesContainer {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 40px;
    justify-content: center;
    padding-left: f.fluid(120px, 180px, 1440px, 1920px);
    padding-right: f.fluid(120px, 180px, 1440px, 1920px);
    
}

.cardHeight {
    height: 400px;
}