@use '@styles/variables' as v;
@use '@styles/mixins' as m;
@use '@styles/functions' as f;

.section {
  width: 100%;
  background-color: v.$color-white;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 19px;
  font-size: f.to-rem(8);
  font-weight: 500;
  text-transform: uppercase;
}

.breadcrumbLink {
  color: v.$color-grey;
  text-decoration: none;
  transition: color v.$transition-duration-default ease;

  &:hover {
    color: v.$color-gold;
  }

  &:focus-visible {
    outline: 2px solid v.$color-gold;
    outline-offset: 3px;
  }
}

.breadcrumbSeparator {
  color: v.$color-grey;
}

.breadcrumbCurrent {
  color: v.$color-accent;
}

.pageTitle {
  margin: 0 0 31px;
  color: v.$color-accent;
  font-size: f.to-rem(25);
  font-weight: 700;
}

.about {
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
  align-items: start;
  gap: 100px;
}

.imageWrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 0 10px 10px 0;
}

.content {
  padding-top: 41px;
}

.title {
  height: 70px;
  width: 660px;
  margin: 0 0 15px;
  color: v.$color-accent;
  font-size: f.to-rem(26);
  font-weight: 700;
}

.description {
  height: 273px;
  width: 560px;
  color: v.$color-accent;
  font-size: f.rem(14);
  font-weight: 400;

  p {
    font-size: f.to-rem(18);
    color: v.$color-accent;
    margin: 0 0 12px;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.statistics {
  height: 180px;
  width: 580px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 58px 0 0;
  padding: 0;
  list-style: none;
}

.statistic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 180px;
  font-size: f.to-rem(14);
  padding: 15px 10px;
  box-sizing: border-box;
  background-color: v.$color-grey;
  text-align: center;
}

.crown {
  width: 24px;
  height: 24px;
  margin-bottom: 6px;
  color: v.$color-gold;
}

.statisticValue {
  margin-bottom: 5px;
  font-size: f.to-rem(42);
  font-weight: 600;
  color: v.$color-gold;
}

.statisticValue1 {
  margin-bottom: 5px;
  font-size: f.to-rem(32);
  font-weight: 600;
  color: v.$color-gold;
}

.statisticDescription {
  font-size: f.to-rem(14);
  font-weight: 500;
  color: v.$color-accent;
  display: block;
  white-space: pre-line;
  text-align: center;
}
