@use '@styles/variables' as v;

.sliderWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider {
    width: 100%;
    max-width: 1160px;
}

.slide {
    max-width: 100%;
    
    & > img {
        margin-inline: auto;
    }
}

.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}

.prevElement, .nextElement {
    display: block;
    padding: 13px;
    background-color: v.$color-light-grey;
    border-radius: 50%;
    align-self: center;

}


.prevElement {
    rotate: 180deg;
}


//theme = reviews

.sliderReviewsWrapper {
    display: flex;
    flex-direction: column;
}

.actionsWrapper {
    display: flex;
    justify-content: space-between;
    color: v.$color-accent;
    align-items: center;

    > h3 {
        width: 50%;
    }
}

.btnsWrapper {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}