@use '@styles/variables' as v;
@use '@styles/mixins' as m;
@use '@styles/functions' as f;

.advantageCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 43px 20px 34px 20px;
    border-radius: 16px;
    background-color: v.$color-white;

    > img {
        margin-bottom: 30px;
    }

    > h6 {
        text-align: center;
        margin-bottom: 19px;
        line-height: 150%;
        
        @include m.laptop {
            font-size: f.to-rem(14);
        }
    }

    > p {
        text-align: center;
        max-width: 220px;
        color: v.$color-black;
        line-height: 150%;
        font-size: f.to-rem(16);

        @include m.laptop {
            font-size: f.to-rem(14);
        }

        @include m.tablet {
            max-width: 271px;
        }
    }
}
