@use '@styles/variables' as v;
@use '@styles/mixins' as m;
@use '@styles/functions' as f;

.headerNav {
    display: flex;
    background-color: v.$color-tertiary;
    padding: 26px 180px;
    
    @include m.laptop {
        font-size: f.to-rem(14);
        padding: 26px 120px;
    }

    @include m.tablet {
        display: none;
    }

    @include m.mobile {
        font-size: f.to-rem(16);
    }

    .navItem {
        transition-duration: v.$transition-duration-default;
        letter-spacing: v.$letter-spacing-navbar;
        font-size:  0.8333vw;
        

        &:hover {
            color: v.$color-gold;
            img {
                transition-duration: v.$transition-duration-default;
                transform: rotate(180deg);
                filter: brightness(0) saturate(100%) invert(98%) sepia(4%) saturate(5035%) hue-rotate(318deg) brightness(88%) contrast(96%);
            }
        }
    }
}

.navList {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.dropdownMenu {
    opacity: 0;
    visibility: hidden;
    transition-duration: v.$transition-duration-slow;
    position: absolute;
    top: 100%;
    left: -20px;
    z-index: 10;
    background-color: v.$color-tertiary;
    padding-inline: 20px;
    min-width: 120px;
    padding-top: 10px;

    a {
        font-size: 0.8333vw;
        
        &:hover {
            color: v.$color-secondary;
        }
    }
}

.hasDropdown {
    transition: 2s all;
    position: relative;
    &:hover {
        .dropdownMenu {
            opacity: 1;
            visibility: visible;
        }
    }
}

.dropdownToggle {
    display: flex;
    flex-direction: row;
    gap: 10px;
    
    img {
        width: 0.6771vw;
    }
}