@use '@styles/variables' as v;
@use '@styles/functions' as f;
@use '@styles/mixins' as m;

.container {
    display: block;
    align-items: center;
    text-align: center;
    
    @include m.container-padding;
    
    & > h3 {
        margin-bottom: 30px;
    }
}
