@use '@styles/variables' as v;
@use '@styles/mixins' as m;
@use '@styles/functions' as f;

.headerNav {
    display: flex;
    background-color: v.$color-tertiary;
    padding: 26px 180px;
    font-size: f.to-rem(16);
    
    @include m.laptop {
        font-size: f.to-rem(14);
        padding: 26px 120px;
    }

    @include m.mobile {
        font-size: f.to-rem(16);
    }

    .navItem {
        transition-duration: v.$transition-duration-default;
        letter-spacing: v.$letter-spacing-navbar;
        
        &:hover {
            color: v.$color-secondary;
        }
    }
}

.navList {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.dropdownMenu {
    display: none;
}

.dropdownToggle {
    display: flex;
    flex-direction: row;
    gap: 10px;
}