@use '@styles/variables' as v;
@use '@styles/mixins' as m;
@use '@styles/functions' as f;

.leftWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.headerLogo {
    width: 140px;
    margin-right: 30px;
    
    @include m.tablet {
        max-width: 120px;
        margin-right: 20px;
    }

    @include m.mobile {
        max-width: 86px;
    }

    @include m.mobile {
        margin-right: 15px;
    }
}

.headerTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 26px 180px;
    width: 100%;

    @include m.laptop {
        font-size: f.to-rem(12);
        padding: 18px 120px 28px 120px;
    }

    @include m.mobile {
        padding: 37px 30px;
    }
}

.emblemGroup {
    display: flex;
    flex-direction: row;
    gap: 10px;

    img {
        min-width: 60px;
        min-height: 60px;

        @include m.laptop {
            min-width: 48px;
            min-height: 48px;
            
        }

        @include m.mobile {
            min-width: 34px;
            min-height: 34px;
        }
    }

    @include m.mobile {
        gap: 7px;
    }
}

.tagline {
    font-size: 0.8333vw;
    font-weight: 300;
    margin-left: 3.1250vw;

    @include m.laptop {
        font-size: f.to-rem(12);
    }

    @include m.tablet {
        margin-left: 2.5521vw;
    }

    @include m.mobile {
        display: none;
    }
}

.userGroup {
    display: flex;
    flex-direction: row;
    gap: 40px;

    @include m.laptop {
        gap: 33px;
    }
}

.cart {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255,255, 0.05);
    border: none;
    border-radius: 50%;
    min-width: 40px;
    height: 40px;
    position: relative;
    
    @include m.tablet {
        display: none;
    }

    @include m.mobile {
        display: none;
    }

    &Badge {
        display: flex;
        justify-content: center;
        font-size: f.to-rem(10);
        min-width: 16px;
        min-height: 16px;
        border: none;
        border-radius: 50%; 
        background-color: v.$color-secondary;
        color: v.$color-white;
        text-align: center;
        align-items: center;
        position: absolute;
        right: -5px;
        top: -5px;
    }
}

.actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 45px;

    @include m.laptop {
        gap: 38px;
    }
}

.actionLink {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: f.to-rem(14);
    font-weight: 500;

    @include m.laptop;

    font-size: f.to-rem(12);
    img {
        width: 16px;
    }
}

.contactInfo {
    display: flex;
    flex-direction: column;
}

.phone {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1vw;
    font-weight: 600;
    gap: 5px;
}

.callbackBtn {
    background-color: inherit;
    border: none;
    text-decoration: underline 0.5px;
    font-weight: 300;
    text-align: right;
    transition-duration: v.$transition-duration-default;
    font-size:  0.8333vw;

    &:hover {
        color: v.$color-secondary;
    }
}

.themeSwitch {
    cursor: pointer;
    user-select: none;
    font-size: f.to-rem(14);
    color: rgb(255, 255,255, 0.25);

    span {
        font-size: f.to-rem(14);
        font-weight: 500;

        @include m.laptop {
            font-size: f.to-rem(12);
        }
    }
}


.activeTheme {
    color: v.$color-white;
}